body{
    background: lightgrey;
    text-align: center;
    display:flex;
    flex-direction: column;
    width:95%;
    margin:0 auto;
}

header{
    background: black;
    color: white;
    height: 7vh;
    line-height: 3vh;
}

#menu-movil{
    display:none;
    direction: column;
}

nav{
    margin:.3em 0;
    background: #ff847c;
    font-size: 1rem;
    min-height: 2em;
    line-height: 2em;
    border-radius: 1em;
}

#resolucion_baja{
    display: none;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content:space-around; 
}


nav ul li a{
    text-decoration: none;
    font-family: 'Reggae One', cursive;
    color: #2a363b;
    
}

/*nav ul li a:hover{
    color:white;
    text-shadow: 2px 2px 2px black;
}*/

#flex-container-principal{
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

#barra-lateral{
    border-radius: 1em;
    margin-left:.5em;    
    order:2;
    width: 20%;
    background: red;
}

#flex-content{
    padding:.4em;
    border-radius: 1em;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items:center;
    width:80%;
    background: green;
    
}

#flex-content div{
    border-radius: 1em;
    margin: 5px;
    height: 100px;
    width: 100px;
    background: white;
}

footer{
    margin-top:.2em;
    background: orange;
    border-radius: 1em;
    text-transform: uppercase;
    
}

.main-menu__item {
    position: relative;
    cursor: pointer;
    
    overflow: hidden;
}

.main-menu__item::before,
.main-menu__item::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #2a363b;
    transition: transform 0.5s;
}

.main-menu__item::before {
    top: 5px;
    transform: translateX(-100%);
}

.main-menu__item::after {
    bottom: 5px;
    transform: translateX(100%);
}

.main-menu__item:hover:before,
.main-menu__item:hover:after {
    transform: translateX(0);
}

@media (max-width:600px){
    #flex-container-principal{
        flex-direction: column;
    }
    
    #flex-content{
        width: 100%;
    }
    
    .main-menu__item{
    
        }
    
    #barra-lateral{
        margin:.2em 0 0;
    }
    
    nav{
        height:1.5em;
        overflow: hidden;
        
    }
    
    nav ul li{
        display: block;
        width:20%;
        margin: 0 auto;
                    
    }
    
    #barra-lateral{
    order:1;
        height:4em;
    width: 100%;
    background: red;
}
    
    
    #resolucion_alta{
        flex-direction: column;
    }
    
    nav:hover{
        height:11em;
        position: static;
        
    }

     
    
   
    
}
